<!-- the name ' index ' means it comes served up by default -->

<!DOCTYPE html>

<html>
<head>
    <link rel='stylesheet' href='./css/styles.css'>
    <link rel='icon' href='/img/weather.png'>
    <title>About</title>
</head>

<body>
    <div class="maincontent">{{>header}}
    <img src="./img/me.jpg" class='myphoto'></div>
    
    {{>footer}}
</body>

</html>