{{!-- index.hbs is similar to index.html. It has a couple of more features for injecting dynamic values --}}


<!DOCTYPE html>

<html>
<head>
    <link rel='stylesheet' href='./css/styles.css'>
    <link rel='icon' href='/img/weather.png'>
    <title>Weather</title>
</head>

<body>
    <div class='maincontent'>
    {{>header}} 
    <p>Use this site to get your weather information</p>
    {{!-- // no need to put entire path, no need to put file extension --}}

    <form>
        <input placeholder='Location'>
        <button>Search</button>
    </form>

        <p id='message-one'> </p>

        <p id='message-two'>  </p>
    </div>
    {{>footer}} 
    {{!-- // to get a sticky footer (means to say that it is at the bottom of the screen always we use flexbo) --}}
   
    <script src='./js/app.js'></script>
</body>

</html>